@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: 'Open Sans';
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.converter_holder {
  width: 886px;
  height: 96px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle {
  height: 58px;
  width: 58px;
  background: #f5f7fb;
  border-radius: 50%;
  margin-left: -45px;
  margin-right: -45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.circle svg {
  margin: 12px;
}

.panel {
  margin: 0;
  padding: 24px 24px;
  width: 375px;
  height: 48px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.panel:before {
  content: '';
  width: 78px;
  height: 78px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  top: 9px;
  z-index: -1;
}

.panel .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.panel .content .price {
  font-weight: 700;
  font-size: 18px;
}

.panel .content .details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.panel .content .details .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #eb54d2;
}

.panel .content .details .icon svg {
  width: 50%;
  height: 50%;
  fill: #ffffff;
}

.panel .content .details .text {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
}

.panel .content .details .text .symbol {
  color: #7c8ca5;
  font-weight: bold;
}

.panel .content .details .text .fullname {
  color: #242637;
  font-weight: bold;
}

.panel.left {
  box-shadow: inset 0 0 0 2px #f5f7fb;
}

.panel.left:before {
  right: -61px;
  box-shadow: 0 0 0 2px #f5f7fb;
  z-index: 1;
}

.panel.left .content {
  flex-direction: row;
  margin-right: 10px;
}

.panel.left .content .details {
  flex-direction: row;
  text-align: left;
}

.panel.left .content .details .icon {
  background: #627eea;
}

.panel.left .content .details .icon svg {
  width: 70%;
  height: 70%;
  margin-left: 2px;
}

.panel.left .content .details .text {
  margin-left: 8px;
  width: 100px;
}

.panel.right:before {
  left: -61px;
  box-shadow: 0 0 0 1000px #f5f7fb;
}

.panel.right .content {
  margin-left: 10px;
}

.price input {
  width: 60%;
  float: right;
  font-size: 16px;
  padding: 12px;
  border: none;
  outline: none;
  font-weight: bold;
  text-align: right;
  border-bottom: 1px solid #ddd;
}

.detail-wrap {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.btn-swap {
  width: 300px;
  margin-top: 80px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: #627eea;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 8px;
}

.btn-swap:focus {
  outline: none;
}

.user-info-block {
  margin-bottom: 20px;
  width: 886px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info-item {
  flex: 1;
}

.user-info-item > a {
  display: block;
  text-decoration: none;
  margin-bottom: 8px;
  color: #000;
}

.user-info-item > button {
  border: none;
  outline: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 14px;
  background: #627eea;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
}

.user-info-item > button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.user-info-item:last-child {
  text-align: right;
}
